.content{
    flex:1;
    padding:10px;
}

.content img{
    width:100%;
}

.content h1{
    text-align: center;
    margin-bottom:20px;
    font-weight: 700;
    margin:10px 0;
}

.container_data{

}

.meta_data{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 20px;
}

.content p{
    font-size:18px;
    font-weight: 400;
}

.content h3{
    font-size: 27px;
    margin:20px 0;
    font-weight: 600;
}

.content h3::after{
    content: "";
    width:90%;
    height:5px;
    background-color: var(--main-color);
    margin:0 auto;
    border-radius: 5px;
    display:block;
}

.md{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.md img{
    max-width: 100%;
    margin: 0 auto;
}

.content:after{
    content: "";
    width: 100%;
    height:8px;
    background-color: var(--main-color);
    display: block;
    margin:20px 0;
    border-radius: 8px;
}