.container{
  max-width: 1200px;
  margin:30px auto;
  display:flex;
  gap:40px;
}

.subtitle{
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 15px;
}

.main_content{
  flex:1;
  padding:0 15px;
}

.posts_container{
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
  gap:40px;
  margin-bottom: 40px;
}

.aside{
  flex:.3;
  position:sticky;
  top:20px;
  align-self: flex-start;
  height: auto;
  width:100%;
  margin-right: 10px;
}

.aside h2{
  font-size:26px;
  font-weight: 600;
  background-color: var(--black);
  padding:10px;
  color:#fff;
  margin-bottom: 10px;
  border-radius: 5px;
}

.categories_container{
  display:flex;
  gap:10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.category{
  background-color: rgb(70, 238, 55);
  color:#fff;
  padding:5px 10px;
  border-radius:30px;
}


@media screen and (max-width:768px) {
  .container{
    flex-direction: column;
  }
  .aside{
    padding:15px;
  }
}

@media screen and (max-width:458px) {
  .posts_container{
    grid-template-columns: 1fr;
  }
}