.container_card {
  display: flex;
  flex-direction: column;
}

.container_card img {
  width: 100%;
  border-radius: 20px;
}

.container_card h3 {
  font-size: 15px;
  padding: 5px 5px;
}


@media screen and (max-width:768px) {
    .container_card h3{
        font-size: 19px;
    }
}